.save-button {
    font-size: 18px;
    height: 30px;
    width: 100px;
}

.mark-page {
    display: flex;
    flex-direction: column;
}

.select-area {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.select-area-text p {
    margin: 0px;
}

.select-area .label-select-area {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.select-area-flex {
    display: flex;
}

#toggle_checkbox1,
#toggle_checkbox2 {
    display: none;
}

.label {
    display: block;
    width: 35px;
    height: 17.5px;
    transform: translateY(10%);
    cursor: pointer;
}

.label:before {
    top: 2px;
    left: 2px;
    width: 13.5px;
    height: 13.5px;
    border: 1px solid red;
}

.label:after {
    top: 0;
    right: 0;
    width: 35px;
    height: 17.5px;
    border: 1px solid #125488;
}

.label:before,
.label:after {
    content: "";
    position: absolute;
    border-radius: 50px;
    box-sizing: border-box;
    transition: 0.5s ease top, 0.5s ease left, 0.5s ease right, 0.5s ease width,
        0.5s ease height, 0.5s ease border-color;
}

#toggle_checkbox1:checked+.label:before,
#toggle_checkbox2:checked+.label:before {
    top: 0;
    left: 0;
    width: 35px;
    height: 17.5px;
    border-color: #125488;
}

#toggle_checkbox1:checked+.label:after,
#toggle_checkbox2:checked+.label:after {
    top: 2px;
    right: 2px;
    width: 13.5px;
    height: 13.5px;
    border-color: green;
}