@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: #125488;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


button:focus {
    outline-style: none;
}

/* button {
    font-family: 'Poppins', sans-serif;
    margin-top: 10px;
    border-radius: 5px;
} */

.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.average,
.average-item {
    display: flex;
    justify-content: space;
    align-items: center;

}

.average-item {
    flex-direction: column;
    margin: 0 15px;
}