@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  color: #2670c7;
  width: 100%;
  min-height: 100vh;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.btn-submit {
  font-size: 22px;
  width: 230px;
  height: 60px;
}


.button:focus {
  outline-style: none;
}

* {
  -webkit-tap-highlight-color: transparent;
}

.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.average,
.average-item {
  display: flex;
  justify-content: space;
  align-items: center;

}

.average-item {
  flex-direction: column;
  margin: 0 15px;
}